/* Color variables */

:root {
    --button-clr: #4D5AE5;
    --active-hover-clr: #404BBF;
    --common-text-clr: #434455;
    --headline-clr: #2E2F42;
    --light-backgrounds-clr: #F4F4FD;
    --accent-and-footer-text-clr: #E7E9FC;
}


/* Common style settings */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 150%;
    color: var(--common-text-clr);
}


/* Logo settings */

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.logo-left {
    color: var(--button-clr);
}

.logo-right-header {
    color: var(--headline-clr);
}

.logo-right-footer {
    color: var(--light-backgrounds-clr);
}


/* Navigation and contacts settings */

.navigation a {
    font-weight: 500;
    color: var(--headline-clr);
}

.contacts a {
    color: inherit;
}

.current-page {
    color: red;
}

.navigation a:hover,
.navigation a:focus,
.contacts a:hover,
.contacts a:focus {
    color: var(--active-hover-clr);
}


/* Button settings */

button {
    font-weight: 500;
    line-height: 150%;
    border-radius: 4px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: inherit;
}

.order-service-button:hover,
.order-service-button:focus {
    background: var(--active-hover-clr);
}

.order-service-button {
    background: var(--button-clr);
    color: #FFFFFF;
}

.filter-button {
    background: var(--light-backgrounds-clr);
    border: 1px solid var(--accent-and-footer-text-clr);
    color: var(--button-clr);
}

.filter-button:hover,
.filter-button:focus {
    background: var(--active-hover-clr);
    color: #FFFFFF;
}


/* Headline settings */

.main-headline {
    font-weight: 700;
    line-height: 107%;
    color: #FFFFFF;
}

.section-headline {
    font-weight: 700;
    line-height: 111%;
}

.card-headline {
    font-weight: 500;
    line-height: 120%;
}

.section-headline,
.card-headline {
    color: var(--headline-clr);
}


/* Sections and cards settings */

.main-section, .footer-section {
    background-color: var(--headline-clr);
}

.footer-text {
    color: var(--accent-and-footer-text-clr);
}

.hero-section {
    background: var(--light-backgrounds-clr);
} 

.hero-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.product-card {
    border: 1px solid var(--accent-and-footer-text-clr);
}