body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.logo-left {
    color: #4D5AE5;
}

.logo-right {
    color: #2E2F42;
}

.main-headline {
    font-weight: 700;
}

.order-service-button {
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.order-service-button:hover {
    background: #404BBF;
}

.contacts a:hover, .contacts a:focus {
    color: #404BBF;
}
